<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

In [ ]:
!pip install --user sqlalchemy==1.3.9
!pip install ipython-sql
!pip install ipython-sql prettytable
!pip install -q pandas

%load_ext sql

import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

%sql sqlite:///my_data1.db

import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

**Note:** This below code is added to remove blank rows from table

In [ ]:
%sql DROP TABLE IF EXISTS SPACEXTABLE;
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note:** If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"

### Task 1
##### Display the names of the unique launch sites in the space mission

In [ ]:
%%sql
SELECT DISTINCT "Launch_Site" 
FROM SPACEXTABLE;

### Task 2
##### Display 5 records where launch sites begin with the string 'CCA'

In [ ]:
%%sql
SELECT * 
FROM SPACEXTABLE 
WHERE "Launch_Site" LIKE 'CCA%' 
LIMIT 5;

### Task 3
##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [ ]:
%%sql
SELECT SUM("Payload_mass__kg_") as Total_Payload_Mass
FROM SPACEXTABLE
WHERE "Customer" = 'NASA (CRS)';

### Task 4
##### Display average payload mass carried by booster version F9 v1.1

In [ ]:
%%sql
SELECT AVG("Payload_mass__kg_") as Avg_Payload_Mass
FROM SPACEXTABLE
WHERE "Booster_Version" = 'F9 v1.1';

### Task 5
##### List the date when the first succesful landing outcome in ground pad was acheived.

_Hint:Use min function_

In [ ]:
%%sql
SELECT MIN("Date") as First_Successful_Ground_Landing
FROM SPACEXTABLE
WHERE "Landing_Outcome" = 'Success (ground pad)';

### Task 6
##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [ ]:
%%sql
SELECT DISTINCT "Booster_Version"
FROM SPACEXTABLE
WHERE "Landing_Outcome" = 'Success (drone ship)'
AND "Payload_mass__kg_" > 4000 
AND "Payload_mass__kg_" < 6000;

### Task 7
##### List the total number of successful and failure mission outcomes

In [ ]:
%%sql
SELECT 
    CASE 
        WHEN "Mission_Outcome" LIKE '%Success%' THEN 'Success'
        ELSE 'Failure'
    END as Outcome_Type,
    COUNT(*) as Count
FROM SPACEXTABLE
GROUP BY Outcome_Type;

### Task 8
##### List all the booster_versions that have carried the maximum payload mass. Use a subquery.

In [ ]:
%%sql
SELECT DISTINCT "Booster_Version"
FROM SPACEXTABLE
WHERE "Payload_mass__kg_" = (
    SELECT MAX("Payload_mass__kg_") 
    FROM SPACEXTABLE
);

### Task 9
##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note:** SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.

In [ ]:
%%sql
SELECT 
    substr(Date, 6, 2) as Month,
    "Booster_Version",
    "Launch_Site",
    "Landing_Outcome"
FROM SPACEXTABLE
WHERE substr(Date, 0, 5) = '2015'
AND "Landing_Outcome" LIKE 'Failure (drone ship)%';

### Task 10
##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [ ]:
%%sql
SELECT 
    "Landing_Outcome",
    COUNT(*) as Outcome_Count
FROM SPACEXTABLE
WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY "Landing_Outcome"
ORDER BY Outcome_Count DESC;